@import "../stylesheet-options"

.music-preview-wrapper
  margin-bottom: rem(100px)

.music-preview
  margin-bottom: rem(50px)

  &:last-child
    margin-bottom: 0

.music-preview__embed
  margin-bottom: rem(10px)
  width: 100%

.music-preview__title
  @extend $home-sections-title
  font-size: rem(19px)
  margin-top: 0

.music-preview__date
  @extend $home-sections-bottom-text