
@font-face {
  font-family: 'SackersGothicW01-Medium';
  src: url('SackersGothicW01-Medium.eot?#iefix') format('embedded-opentype'),  url('SackersGothicW01-Medium.woff') format('woff'), url('SackersGothicW01-Medium.ttf')  format('truetype'), url('SackersGothicW01-Medium.svg#SackersGothicW01-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
