@import "../stylesheet-options"

.search-page__head
  text-align: center

.search-page__result-text
  font-size: rem(55px)
  font-family: 'IdealSans-ExtraLight', sans-serif
  color: #333336
  margin-top: rem(227px)

.search-page__head-text
  margin-top: rem(24px)
  background: url(../images/WestonJamesPalmer_no_copy.svg) no-repeat center
  background-size: 100% 5px
  height: rem(8px)

.search-page__content
  margin-top: rem(120px)