@import "../stylesheet-options"

.music-single
  padding-top: rem(230px)

.music-single__title
  font-size: rem(19px)
  color: #333332
  text-align: center
  margin-top: rem(14px)

.music-single__date
  font-size: rem(14px)
  color: #b3b3b1
  text-align: center
  margin-top: rem(8px)
  margin-bottom: rem(50px)