
@font-face {
  font-family: 'IdealSans-ExtraLight';
  src: url('IdealSans-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('IdealSans-ExtraLight.woff') format('woff'), url('IdealSans-ExtraLight.ttf')  format('truetype'), url('IdealSans-ExtraLight.svg#IdealSans-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
