@import "../stylesheet-options"

.navigation-footer
  text-align: center

.navigation-footer__item
  display: inline-block
  padding: rem(10px 16px)
  font-family: 'SackersGothicW01-Medium', serif
  font-size: rem(10px)
  color: #4a4a4a
  text-decoration: none
  text-transform: uppercase
