@import "../stylesheet-options"

.home-social
  margin-top: 90px

.home-social__block
  text-align: center
  margin-bottom: rem(50px)

  &:last-child
    margin-bottom: 0

.home-social__block-title
  font-size: rem(20px)
  margin-bottom: rem(10px)
  color: #333332

.home-social__link
  font-size: rem(11px)
  font-family: 'SackersGothicW01-Medium', serif
  display: block
  margin-bottom: rem(12px)
  color: #4a4a4a
  text-transform: uppercase
  text-decoration: none

.home-social__img
  width: rem(20px)
  margin: auto