@import "stylesheet-options"

.social-share
  text-align: center

.social-share__item
  display: inline-block
  margin: rem(0 8px)
  width: rem(21px)
  height: rem(18px)
  background-repeat: no-repeat
  background-position: center center

  &--twitter
    background-image: url('./images/twitter.svg')

  &--mail
    background-image: url('./images/email.svg')

  &--facebook
    background-image: url('./images/facebook.svg')
    background-size: auto 100%

  &--pinterest
    background-image: url('./images/printerest.svg')
    background-size: auto 100%

  &--tumbler
    background-image: url('./images/tumbler.svg')
    background-size: auto 100%