
@font-face {
  font-family: 'FreightTextBook';
  src: url('FreightTextBook.eot?#iefix') format('embedded-opentype'),  url('FreightTextBook.woff') format('woff'), url('FreightTextBook.ttf')  format('truetype'), url('FreightTextBook.svg#FreightTextBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
