
@font-face {
  font-family: 'IdealSans-Light';
  src: url('IdealSans-Light.eot?#iefix') format('embedded-opentype'),  url('IdealSans-Light.woff') format('woff'), url('IdealSans-Light.ttf')  format('truetype'), url('IdealSans-Light.svg#IdealSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
