@import "../../stylesheet-options"

.contact-page
  max-width: rem(1000px)
  margin: auto
  
.contact-page__title
  font-size: rem(333px)
  font-family: 'IdealSans-ExtraLight', sans-serif
  color: #333336
  text-align: center
  margin-top: 0

.contact-page__description
  font-size: rem(25px)
  color: #767675
  font-family: 'IdealSans-ExtraLight', sans-serif
  margin-bottom: rem(46px)

.contact-page__link
  text-align: center